<%# Render breadcrumb links based on location %>
<div class="breadcrumb">
  <div class="wrap">
  	<div class="container">
        <%= link_to 'Home', root_path %><span>/</span>About
    </div>
  </div>
</div>
