<div class="page_container">
	<div class="breadcrumb">
  	<div class="wrap">
      	<div class="container">
        	<a href="index.html">Home</a><span>/</span>Blog
        </div>
    </div>
  </div>
	<div class="wrap">
    <div class="container">
      <section>
      	<div class="row">
        	<div class="col-md-8">
            <%= yield :post %>
          </div>
          <div class="col-md-4">
            <div class="sidebar">
              <%= yield :widgets %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<% parent_layout "application" %>
